*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Conv_chintzy';
	src: url('fonts/chintzy.eot');
	src: local('☺'), url('fonts/chintzy.woff') format('woff'), url('fonts/chintzy.ttf') format('truetype'), url('fonts/chintzy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	background-color: #12233D;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #030303;
}
.main{
	min-height:400px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(60, 60, 60, 0.22);
	overflow: hidden;
	position:relative;
	color: #222;
	padding:10px;
}
.grblack> li{
   background-color: rgba(51, 51, 51, 0.39);
}

.grblack> li.active{
 background-color: #4D9DF9;
 }
.grblack> li:hover{
  background-color: #EB982E;
 
  color: #FFF;
}
.menubar{	
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 8px -2px #000;
    font-size: 25px;
    letter-spacing: 5px;
    display:table;
	position:relative;
	font-family: "Conv_chintzy";
	z-index:1000;
}
.info-r{
	color: #E29738;
	font-weight: bold;
	letter-spacing: 1px;
}
.info-g{
	color: #62AC03;
	font-weight: bold;
	text-align: center;
}
.menubar > li{
    list-style: none;
	transition: all 0.3s ease-out 0.0s;
	display:table-cell;
    height: 50px;
    line-height: 50px;

    text-align: center;
	position:relative;
    width: 20%;
    font-weight: bold;
    cursor: pointer;
    color: #575757;
    
}
.block{
    padding:10px;   
    background-color:#FFF;
    border-radius: 2px;
    min-height: 60px;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 4px -2px #000;
}
.menubar > li > a{
font-family: "Conv_chintzy";
letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 0px 0px  8px #FFF;
}

input{
    background-color: #444;
	
    border: 1px solid #4D4C4C;
    height: 24px;
    /* border: none; */
    color: #C76608;
    font-weight: bold;
}
.login-block {
    width: 270px;
    padding: 10px;
    background-color: #4C7EBE;
    border-radius: 5px;
    border: 1px solid #47AEFF;
    box-shadow: 0px 0px 6px -1px #36A4EE;
    float: left;
}
.field {clear:both; text-align:right; line-height: 40px;}
label {float:left; padding-right:10px;text-shadow: 0px 3px 7px;}
.button{
	display: block;
	height: 25px;
	margin-top: 3px;
	background-color: #4D4D4D;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	color: #888;
	transition: all 0.3s ease-out 0.0s;
}
.button:hover{
	background-color: #76A327;
	color: #FFFFFF;
}

.clearfix:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}
.left{
    float: left;
	
    width: 250px;
}
.right{
    /* margin-left: 250px; */
	
}
.block-right{
	height: 157px;
	margin-left: 300px;
	background-image: url('/img/logo.jpg');
	border-radius: 4px;
	background-size: 100% 101%;
	box-shadow: 0px 0px 6px -1px #000;
	border: 1px solid #131313;
}
.menu-left{
    /* border: 1px solid #C9C9C9; */
	
}
.menu-left > li{
	
    height: 35px;
    
    /* border-top: 1px solid #4D4D4D; */
    
    /* border-bottom: 1px solid #80B7FF; */
    
    line-height: 35px;
    
    
    list-style: none;
}
.block-insert{
    padding-right: 10px;
	
}
.menu-left > li > a:hover{
    background-color: #696969;
}
.menu-left > li > a{
	
    text-decoration: none;
    display: block;
    
    padding-left: 10px;
    background-color: #4E4E4E;
    color: #FFF;
}
