<div id="main" role="main">
      <div id="content" class="content container">
         

         <div id="TitleHead" class="content-header">
            <!--AUR-5198 Language header weired characters conversion into proper text -Naveen, Vijay- Aug-19-2013-->
               <h2>Впервые на Copart? Зарегистрируйтесь здесь!</h2>

            
            
            <div class="clear"> </div>
            <div class="pageSubHeading">
               
            </div>
         </div>

         <div class="clear"> </div>
         
         
<div class="content container registration">
<div id="registration-form">
    <div class="module">
        <form action="" method="POST" class="ui-form" id="entry">
            <fieldset>

                <h5>Расскажите нам о себе</h5>
                <h8 class="required-desc">* Обязательное поле</h8>
                <ul class="entry-group">
                    <li>
                        <label class="alpha grid_3" for="FirstName">* Имя</label>
                        <input class="group-input omega reg" name="FirstName" type="text" value="" maxlength="20">
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span></div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="LastName">* Фамилия</label>
                        <input class="group-input omega reg" name="LastName" type="text" value="">
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span></div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Email">* Электронная почта</label>
                        <input class="group-input omega reg" name="Email" type="text" value="">
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <h5>
                    Где вы находитесь?
                </h5>
                <ul class="entry-group">
                    <li>
                        <label class="alpha grid_3" for="Company">Название компании</label>
                        <input class="group-input omega normal" data-val="true" id="Company" name="Company" type="text" value="" maxlength="30">
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Address_StreetAddress1">* Адрес</label>
                        <input class="group-input omega normal" type="text" value="" maxlength="30">
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Address_StreetAddress2">Адрес (2 строка)</label>
                        <input class="group-input omega normal" name="Address.StreetAddress2" type="text" value="">
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Address_Country">* Страна</label>
                        <select id="Address_Country" name="Address.Country" class="select grid_6 omega normal" type="select">
                                <option value="AFG">Россия</option>
                                <option value="ALB">Украина</option>
                        </select>
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="Address.Country" data-valmsg-replace="true"></span></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Address_State">* Штат</label>
                        <select id="Address_State" name="Address.State" class="select grid_6 omega normal" type="select">
                                    <option value="">Выберите регион</option>
                                    <option value="AL">ALABAMA</option>
                        </select>
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="Address.State" data-valmsg-replace="true"></span></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Address_City">* Город</label>
                        <input class="group-input omega normal" name="Address.City" type="text" value="">
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="Address.City" data-valmsg-replace="true"></span></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <label class="alpha grid_3" for="Address_PostalCode1">* Почтовый индекс</label>
                        <input class="text grid_2" name="Address.PostalCode1" type="text" value="" maxlength="5">
                        <input class="text grid_2" name="Address.PostalCode2" type="text" value="" maxlength="4">
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <h5>
                    Контактные данные
                </h5>
                <ul class="entry-group">
                    <li>
                        <div id="usaPhone1">
                            <label class="alpha grid_3" for="AreaCode1">* Номер телефона</label>
                            <input class="registration_phone-area-code"name="AreaCode1"type="text" value="">

                            <input class="registration_phone-exchange"name="ExchangeNumber1" type="text" value="">
                            <input class="registration_phone-subscriber"name="SubscriberNumber1" type="text" value="">
                        </div>
                        <div class="optional"><span class="field-validation-valid" data-valmsg-for="PhoneExt" data-valmsg-replace="true"></span></div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </fieldset> 
        </form>
    </div>
</div>




 
 

<div class="sidebar rounded">
	<div class="module">
		<h5 class="header">Зарегистрируйтесь: это быстро и бесплатно!</h5>

		<div class="registration-steps">
			<div class="registration-step">
				<div class="num">1</div>
				<div class="text">
				<h4>Шаг 1</h4>
				<p>Заполните форму на этой странице.</p>
				</div>
			</div>

			<!--.registration-step -->
			<div class="registration-step">
				<div class="num">2</div>
				<div class="text">
					<h4>Шаг 2</h4>
					<p>Нажмите кнопку "Отправить", и когда мы получим заполненную форму, то отправим вам по электронной почте ваши регистрационные данные, включая идентификатор участника и пароль. Пароль обычно приходит на электронную почту в течение пяти-семи минут.</p>
				</div>
			</div>

			<!--.step -->
			<div class="registration-step">
				<div class="num">3</div>
				<div class="text">
					<h4>Шаг 3</h4>
					<p>Выполните вход в систему Copart и начните искать транспортные средства.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- cms fragment ends -->

<div class="clear"></div>
</div>
<!--! end of .content -->
<div class="clear"></div>
      </div>
   </div>