html,body{
height: 100%;
}
body {
  background-image: url('http://www.gandex.ru/upl/oboi/u17782_2147_aeefae922a02d4ddece4ab103f6.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.block-login{
	width: 420px;
	height: 265px;
	top: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.box-login{

}
