html,body{
height: 100%;
}
.grandient-login{
	background: rgb(56,55,39); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(56,55,39,1) 0%, rgba(20,20,20,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,55,39,1)), color-stop(100%,rgba(20,20,20,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(56,55,39,1) 0%,rgba(20,20,20,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(56,55,39,1) 0%,rgba(20,20,20,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(56,55,39,1) 0%,rgba(20,20,20,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(56,55,39,1) 0%,rgba(20,20,20,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383727', endColorstr='#141414',GradientType=0 ); /* IE6-9 */



}
.block-login{
	width: 420px;
	height: 265px;
	top: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.box-login{

}
