<!doctype html>
<html ng-app="AuctionR">
<head>
	<title ng-bind="title">Auction</title>
	<script src="/js/app.js"></script>
	<link rel="stylesheet" href="/css/app.css">

</head>
<body>
	<script type="text/javascript">var ACU = {{ACU}};</script>
	<div class ng-view>

	</div>
</body>
</html>