<!doctype html>
<html>
  <head>
  	<title>SystemD3DX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="shortcut icon" href="http://pinturaslatas.com/s/misc/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
<body ng-app="FasterGet">
  <div ng-view class="grandient-login">

  </div>
</body>
</html>