<!doctype html>
<html ng-app="AuctionR" >
  <head>
<title ng-bing="$root.pageTitle">Аукционы</title>
    <script src="/js/app.js"></script>
  
    <link rel="stylesheet" href="/css/app.css">
    
    
  </head>
<body >
<div class ng-view>

</div>
</body>
</html>