<!doctype html>
<html ng-app="AuctionR" >
  <head>
<title ng-bing="$root.pageTitle">Аукционы</title>
    <script src="/js/app.js"></script>
  
    <link rel="stylesheet" href="/css/styles1.min.css">
    <link rel="stylesheet" href="/css/styles3.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/angucomplete.css">
    
  </head>
<body >
<div class ng-view>

</div>
</body>
</html>