<!doctype html>
<html>
  <head>
  	<title>Auction</title>
    <script src="/js/app.js"></script>
    <link rel="shortcut icon" href="http://pinturaslatas.com/s/misc/favicon.png">
    <link rel="stylesheet" href="/css/style.ru.min.css">
    <link rel="stylesheet" href="/css/styles1.min.css">
    <link rel="stylesheet" href="/css/styles2.min.css">
    <link rel="stylesheet" href="/css/styles3.min.css">


  </head>
<body ng-app="AuctionR" ng-view >

</body>
</html>