<div ng-if="auth" class="info-g">Вы авторизованный пользователь</div>
	<span ng-if="auth" ng-click="exit()" class="button">Exit</span>
	<div class="clearfix">
	<div ng-hide="auth" class="login-block">
		<div class="info-r">{{info}}</div>
		<div class="field">
			<label for="login">Login</label>
			<input ng-model="ilogin" type="text" id="login">
		</div>
		
		<div class="field">
			<label for="pass">Password</label>
			<input ng-model="ipass"  type="text" id="pass">
		</div>
		<span ng-click="login()" class="button">Enter</span>
		<span ng-click="Register()" class="button">Register</span>
	</div>
	<div ng-hide="auth" class="block-right"></div>
</div>