<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">
						<h4 class="modal-title">Что делать с существующими объявлениями?</h4>
				</div>
				<div class="modal-body text-center">
						<button class="btn btn-info" ng-click="$close()">Ничего</button>
						<button class="btn btn-warning" ng-click="$close('hide')">Спрятать</button>
						<button class="btn btn-danger" ng-click="$close('remove')">Удалить</button>
				</div>
				<div class="modal-footer">
						<button class="btn" ng-click="$dismiss()">Отмена</button>
				</div>
		</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->