<div class="content container registration">
	<div id="registration-form">
	    <div class="module">
	        <form class="ui-form" id="entry">
	            <fieldset>
	                <h5>Описание</h5>
	                <h8 class="required-desc">* Обязательное поле</h8>
	                <ul class="entry-group">
	                    <li ng-class="{error: errors.marka}">
	                    	<div class="clearfix">
	                        	<label class="alpha grid_3">* Марка Авто</label>
	                        	<select ng-change="upmark()" ng-model="data.marka" class="select grid_6 omega normal" type="select">
                                	<option  ng-repeat="(key,value) in markaAvto">{{key}}</option>
                        		</select>
	                        </div>
	                        <div class="optional"><span class="field-validation-valid">{{errors.login}}</span></div>
	                    </li>
						<li ng-class="{error: errors.model}">
	                    	<div class="clearfix">
	                        	<label class="alpha grid_3">* Модель Авто</label>
	                        	<select ng-model="data.model" class="select grid_6 omega normal" type="select">
                                	<option  ng-repeat="(key,value) in model">{{key}}</option>
                        		</select>
	                        </div>
	                        <div class="optional"><span class="field-validation-valid">{{errors.model}}</span></div>
	                    </li>
	                    <li ng-class="{error: errors.type_kuzov}">
	                    	<div class="clearfix">
	                        	<label class="alpha grid_3">* Тип кузова</label>
	                        	<select ng-model="data.type_kuzov" class="select grid_6 omega normal" type="select">
	                        		<option value="">Тип кузова</option>
	                        		<option value="1">Седан</option>
	                        		<option value="2">Хетчбэк</option>
	                        		<option value="3">Универсал</option>
	                        		<option value="4">Внедорожник</option>
	                        		<option value="5">Кабриолет</option>
	                        		<option value="6">Кроссовер</option>
	                        		<option value="7">Купе</option>
	                        		<option value="8">Лимузин</option>
	                        		<option value="9">Минивэн</option>
	                        		<option value="10">Пикап</option>
	                        		<option value="11">Фургон</option>
	                        		<option value="12">Микроавтобус</option>
                        		</select>
	                        </div>
	                        <div class="optional"><span class="field-validation-valid">{{errors.type_kuzov}}</span></div>
	                    </li>
	                    <li ng-class="{error: errors.doc_type}">
	                    	<div class="clearfix">
	                        	<label class="alpha grid_3">* Тип Документов</label>
	                        	<select ng-change="upmark()" ng-model="data.doc_type" class="select grid_6 omega normal" type="select">
                                	<option value='1'>1</option>
                                	<option value='2'>2</option>
                                	<option value='3'>3</option>
                        		</select>
	                        </div>
	                        <div class="optional"><span class="field-validation-valid">{{errors.doc_type}}</span></div>
	                    </li>
	                    <li ng-class="{error: errors.probeg}">
	                        <label class="alpha grid_3">* Пробег(например 150000)</label>
	                        <input class="group-input omega reg" ng-model="data.probeg" type="text" value="" maxlength="20">
	                        <div class="optional"><span class="field-validation-valid">{{errors.probeg}}</span></div>
	                        <div class="clear"></div>
	                    </li>
	                    <li ng-class="{error: errors.crash}">
	                        <label class="alpha grid_3">Повреждение</label>
	                        <input class="group-input omega reg" ng-model="data.crash" type="text" value="" maxlength="20">
	                        <div class="optional"><span class="field-validation-valid">{{errors.crash}}</span></div>
	                        <div class="clear"></div>
	                    </li>
	                     <li ng-class="{error: errors.roz_price}">
	                        <label class="alpha grid_3">*Розничная стоимость:</label>
	                        <input class="group-input omega reg" ng-model="data.roz_price" type="text" value="" maxlength="20">
	                        <div class="optional"><span class="field-validation-valid">{{errors.roz_price}}</span></div>
	                        <div class="clear"></div>
	                    </li>
	                     <li ng-class="{error: errors.remont_price}">
	                        <label class="alpha grid_3">*Стоймость ремонта</label>
	                        <input class="group-input omega reg" ng-model="data.remont_price" type="text" value="" maxlength="20">
	                        <div class="optional"><span class="field-validation-valid">{{errors.remont_price}}</span></div>
	                        <div class="clear"></div>
	                    </li>
	                     <li ng-class="{error: errors.vin}">
	                        <label class="alpha grid_3">* VIN Номер</label>
	                        <input class="group-input omega reg" ng-model="data.vin" type="text" value="" maxlength="20">
	                        <div class="optional"><span class="field-validation-valid">{{errors.vin}}</span></div>
	                        <div class="clear"></div>
	                    </li>
	                    <li ng-class="{error: errors.key}">
	                    	<div class="clearfix">
	                        	<label class="alpha grid_3">* Ключи в наличии?</label>
	                        	<select ng-model="data.key"class="select grid_6 omega normal" type="select">
	                        		<option value="1">ДА</option>
	                        		<option value="0">НЕТ</option>
                        		</select>
	                        </div>
	                        <div class="optional"><span class="field-validation-valid">{{errors.key}}</span></div>
	                    </li>
	                    <style type="text/css">
	                    .upload-input{
							background-color: #EDF0F8;
							width: 100%;
							height: 60px;
							border: 1px solid #DCE8F7;
							text-align: center;
							color: #738392;
							font-size: 1.18em;
							overflow: hidden;
							line-height: 16px;
							position: relative;
						}
	                    .input-invisibil{
							filter: alpha(opacity=1);
							-moz-opacity: 0.00;
							opacity: 0.00;
							cursor: pointer;
							height: 58px;
							width: 937px;;
							  position: absolute;
							  left: 0px;
							}
						.upload-input:hover{
							background-color: #E2E9F1;	
						}


						.s2-photo-upload{
							padding-top: 22px;
						}
						.s2-photo-upload >span{
							background: url('http://vk.com/images/camera.png') left 0px no-repeat;
							text-align: center;
							padding: 3px 0px 3px 35px;
							color: #738392!important;
							font-size: 1.18em!important;
							line-height: 16px!important;
						}
	                    </style>
	                    <li ng-class="{error: errors.photo}">
	                   	 	<div class="upload-input">
	                    		<input  class="input-invisibil" uploader="uploader" nv-file-select type="file" id="files" name="image" />
	                    		<div class="s2-photo-upload">
									<span>Добавить фотографию</span>
								</div>
	                    	</div>
	                        <style type="text/css">
	                        	.imagelist{
								  list-style: none;
								  margin-left: 0px;
								  height: 77px;
								  overflow-x: initial;
								}
	                        	
	                        	.imagelist li{
								  margin: 3px;
								  display: inline-block;
								  border: 1px solid #6483FF;
								  box-shadow: 0px 0px 11px -3px;
	                        	}
	                        	.imagelist li img{
								  width: 90px;
								  vertical-align: middle;
								  height: 65px;
	                        	}
	                        	.outside{

	                        	}
	                        </style>
	                        <div ng-show="data.photo[0]" class="outside">
		                        <ul class="imagelist">
		                        	<li ng-repeat="p in data.photo"><img src="{{p}}"></li>
		                        </ul>
	                        <div>
	                        <div class="optional"><span class="field-validation-valid">{{errors.type_kuzov}}</span></div>
	                    </li>
	                </ul>
	                <div class="regterms">
	                    Щелкните для отправки данных
	                </div>
	                <span ng-click="sendavto()" class="button large blue bt-reg">
	                    Отправить
	                </span>
            	</fieldset>
	        </form>
	    </div>
	</div>

	<div class="sidebar rounded">
		<div class="module clearfix">
			<h5 class="header">Добавьте авто: это просто!</h5>

			<div class="registration-steps">
				<div class="registration-step">
					<div class="num">1</div>
					<div class="text">
					<h4>Шаг 1</h4>
					<p>Заполните форму на этой странице.</p>
					</div>
				</div>

				<!--.registration-step -->
				<div class="registration-step">
					<div class="num">2</div>
					<div class="text">
						<h4>Шаг 2</h4>
						<p>Нажмите кнопку "Отправить", и когда мы получим заполненную форму, то отправим вам по электронной почте ваши регистрационные данные, включая идентификатор участника и пароль. Пароль обычно приходит на электронную почту в течение пяти-семи минут.</p>
					</div>
				</div>

				<!--.step -->
				<div class="registration-step">
					<div class="num">3</div>
					<div class="text">
						<h4>Шаг 3</h4>
						<p>Выполните вход в систему и начните искать транспортные средства.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div>
</div>