<style>
.cabinetCars{
   /*margin-top: 30px;*/
   margin: 7px;
   list-style: none;
}
.cabinetCars li{
   height: 128px;
   padding: 10px;
   border: 1px solid #D8D8D8;
   margin-bottom: 7px;
}
.cabinetCars li.active{
	background-color: #B7FF9E;
}
.cabinetCars li .headname{
  margin-left: 160px;
  font-weight: bold;
  font-size: 15px;
  color: #568CFF;
}
.cabinetCars li .img{
  width: 128px;
  height: 128px;
  background-color: #444;
  float: left;
  position: relative;
}	
.cabinetCars li .img img{
  width: 128px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}	
.cabinetCars li .descript{
	margin-left: 160px;
	height: 107px;
}
.cabinetCars li .descript .block_D{
  float: left;
  width: 240px;
}

.cabinetCars li .descript .block_D *{
  font-size: 13px;
  margin-top: 15px;
}
.cabinetCars li .descript .block_D.buttons{
	float: right;
}
.cabinetCars li .descript .block_D.buttons *{
	float: right;
}
.cabinetCars li .descript .block_D label > x{
  font-weight: bold;
  color: #147086;
}
.btn-edit-car{
	position: absolute;
  right: 20px;
}
.btn-edit-car .button-lat{
  display: inline-block;
  color: #454545;
  cursor: pointer;
}
.btn-edit-car .button-lat:hover{
	color: #4CAD24;
}
</style>

<div class="module">
	<fieldset>
		<ul class="cabinetCars">
			<li ng-repeat="car in cars">
			<div class="btn-edit-car">
				<div class="button-lat" ng-click="remove(car._id)">
					<i class="fa fa-times fa-2x"></i>
				</div>
			</div>
				<div class="img">
					<img ng-src="{{car.photo[0]}}">
				</div>
				<div class="headname">{{car.marka}} {{car.model}} {{car.year}}</div>
				<div class="descript">
					<div class="block_D">
						<label><x>Тип документов:</x> {{car.doc_type}}</label>
						<label><x>Пробег:</x> {{car.probeg | Numbers}} км</label>
						<label><x>VIN:</x>{{car.vin}}</label>
					</div>

					<div class="block_D">
						<label><x>Розничная стоимость:</x>{{car.roz_price| Numbers}} р.</label>
						<label><x>Стоймость ремонта:</x>{{car.remont_price| Numbers}} р.</label>
						<label><x>Тип кузова:</x>{{car.type_kuzov | type_kuzov}}</label>
					</div>
					<div class="block_D buttons">
						<span ng-click="auction($index)" class="button large blue right">Выставить на продажу</span>
					</div>
				</div>
			</li>
		</ul>
	</fieldset>
</div>